<div class="card text-dark bg-light-card mb-3" style="width: 100%;">
  <div class="card-header">
    Receiver ID: <span id="device-id-span">-</span>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Time: <span id="time-span">-</span></li>
    <li class="list-group-item">Battery voltage: <span id="battery-voltage-span">-</span></li>
    <li class="list-group-item">Firmware: <span id="firmware-description-span">-</span></li>
    <li class="list-group-item">Firmware version: <span id="firmware-version-span">-</span></li>
    <li id="snapshot-count-li" class="list-group-item">Snapshot count: <span id="snapshot-count-span">-</span></li>
    <li id="status-li" class="list-group-item">Status: <span id="status-span">-</span></li>
  </ul>
</div>

<script src="strftime-min.js"></script>
<script src="js/deviceInfo.js"></script>