<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SnapperGPS - Configure</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/deviceCommunication.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Configure your SnapperGPS receiver for your next deployment.">
    </head>
    <body>

        <!-- Nav bar -->
        <%- include ('partials/navBar', {pageName: 'configure'}) %>

        <!-- Main body -->
        <main class="container">

            <div class="row">
                <div class="col">
                    <h1>Configure your SnapperGPS receiver for your next deployment</h1>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                    <i>
                        Did you know that this site works offline, too?
                        You can configure your SnapperGPS receiver in the field.
                        (If you do not clear your browser cache.)
                    </i>
                </div>
            </div>

            <div class="row bg-white">

                <div>
                    <%- include ('partials/webUsbSupport') %>
                </div>

                <div id="error-display" style="display: none;">
                    <div class="card text-white bg-danger mb-3" style="max-width: 100%;">
                        <div class="card-header"><b>Error</b></div>
                        <div class="card-body">
                            <p class="card-text" id="error-text">Error</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row bg-light">

                <div class="row">
                    <div class="col">
                        Connect your SnapperGPS receiver
                        via USB.
                        If you used SnapperGPS before, then you can see some information
                        from your SnapperGPS receiver below.
                        Otherwise, click <i>Pair receiver</i> and select your SnapperGPS
                        receiver from the list.
                    </div>
                </div>

                <div class="row-ident">
                    <%- include ('partials/deviceInfo') %>
                </div>

                <div class="row btnrow row-ident">
                    <div class="col btncol">
                        <button class="btn btn-primary full-width" id="pair-button" style="min-width: 175px" disabled>Pair receiver</button>
                    </div>
                </div>
            
            </div>

            <div class="row bg-light">

                <div class="row">
                    <div class="col">
                        If the firmware of your SnapperGPS receiver is not up to
                        date, then consider updating it at this stage.
                    </div>
                </div>

                <div class="row btnrow row-ident">
                    <div class="col btncol">
                        <button class="btn btn-primary full-width" id="firmware-button" style="min-width: 175px" disabled>Update firmware</button>
                        <!-- <label id="firmware-info" for="firmware-button" style="margin-left: 10px;">No firmware found.</label> -->
                    </div>
                </div>
                <div class="row row-ident">
                    <div class="col">
                        <span id="firmware-info">
                            No firmware for update selected. 
                        </span>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none; margin-left: 5px" id="firmware-spinner"></span>       
                    </div>
                </div>

            </div>

            <div class="row bg-light">

                <div class="row">
                    <div class="col" id="interval-input-text">
                        To start a new deployment, enter the desired
                        time interval between two consecutive
                        recordings in seconds or minutes.
                    </div>
                </div>

                <div class="row row-ident">
                    <div class="col">
                        <label for="interval-input" style="margin-right: 10px;" id="interval-input-label">Interval:</label>
                        <input id="interval-input" type="number" value="20"  min="0"
                            style="width: 70px; text-align: right;">
                        <select id="interval-unit-input" style="height: 30px;">
                            <option value="seconds">seconds</option>
                            <option value="minutes">minutes</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Choose if you want to start your data collection
                        at a certain point in time in the future or want to end it early.
                        Otherwise, your SnapperGPS receiver will begin collecting
                        data immediately and will run as long as its battery and memory last.
                        Ensure that you record the first couple of snapshots
                        outdoors with good sky visibility since SnapperGPS uses
                        them to calibrate your receiver.
                    </div>
                </div>

                <div class="row row-ident">
                    <div class="col">
                        <label for="limit-start-checkbox" style="margin-right: 10px;">Only collect snapshots after given date/time:</label>
                        <input type="checkbox" id="limit-start-checkbox" checked>
                    </div>
                </div>

                <div class="row row-ident-2">
                    <div class="col">
                        <label id="limit-start-label" for="limit-start-date-input" style="margin-right: 10px;">Start:</label>
                        <input type="date" id="limit-start-date-input">
                        <input type="time" id="limit-start-time-input">
                        <label id="limit-start-timezone" for="limit-start-time-input"></label>
                    </div>
                </div>

                <div class="row row-ident">
                    <div class="col">
                        <label for="limit-end-checkbox" style="margin-right: 10px;">Only collect snapshots until given date/time:</label>
                        <input type="checkbox" id="limit-end-checkbox" value="0" autocomplete="off">
                    </div>
                </div>

                <div class="row row-ident-2">
                    <div class="col">
                        <label id="limit-end-label" for="limit-end-date-input" style="margin-right: 10px; color: lightgray;">End:</label>
                        <input type="date" id="limit-end-date-input" disabled>
                        <input type="time" id="limit-end-time-input" disabled value="00:00">
                        <label id="limit-end-timezone" for="limit-end-time-input" style="color: lightgray;"></label>
                    </div>
                </div>

            </div>

            <div class="row bg-light">

                <div class="row">
                    <div class="col">
                        Configure your receiver now.
                        Be aware that existing data will be erased.
                    </div>
                </div>

                <div class="row btnrow row-ident">
                    <div class="col btncol">
                        <button class="btn btn-primary full-width" id="configure-button" style="min-width: 175px" disabled>Configure</button>
                    </div>
                </div>

                <div class="row row-ident">
                    <div class="col">
                        <span id="status-info">
                            No device connected.
                        </span>
                    </div>
                </div>

            </div>

            <div class="row bg-white">

                <div id="battery-warning-display" style="display: none;">
                    <div class="card text-white bg-warning mb-3">
                        <div class="card-header"><b>Warning</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                The supply voltage of your receiver is low.
                                Is it connected to a charged battery?
                                If you configure a receiver that is not connected to a charged battery,
                                then your configuration will not be saved when you
                                unplug your receiver.
                            </p>
                        </div>
                    </div>
                </div>

                <div id="charge-warning-display" style="display: none;">
                    <div class="card text-white bg-warning mb-3">
                        <div class="card-header"><b>Warning</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                Your battery does not seem to be fully charged.
                                For a long deployment, we recommend charging your battery to around 4.1 V.
                            </p>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card text-white bg-warning mb-3">
                        <div class="card-header"><b>Warning</b></div>
                        <div class="card-body">
                            <p class="card-text">
                                We recommend that you record a little bit of test data with your SnapperGPS receiver
                                in a setting similar to your intended deployment scenario first
                                before you record more data over a longer period of time.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="row bg-light">

                <div class="row">
                    <div class="col">
                        If you changed your mind, then you can revert your
                        configuration and order your receiver to go into a deep
                        sleep mode after unplugging instead.
                    </div>
                </div>

                <div class="row btnrow row-ident">
                    <div class="col btncol">
                        <button class="btn btn-primary full-width" id="shutdown-button" style="min-width: 175px" disabled>Shutdown</button>
                    </div>
                </div>

            </div>

        </main>

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="js/configure/configureComms.js"></script>
    <script src="service-worker.js"></script>
    <script src="js/configure/configureUI.js"></script>

</html>